body {
  background-color: #e0e0e0;
}

.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 50vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cadetblue;
}

.item-completed {
  text-decoration: line-through;
  font-style: italic;
}

.list-group-item {
  background-color: #97e5e7;
  border-bottom: dashed 2px #707780;
  word-break: break-word;
}
.list-group-item:last-child {
  border-bottom: none;
}